.btn {
  font-size: rem(18);
  line-height: rem(24);
  padding: rem(16) rem(20) rem(15) rem(57);
  white-space: nowrap;
  font-weight:700;
  @include transition(all 0.3s linear);
  color: $white;
  position: relative;
  border-radius: 0;
   display: inline-block;


  &:hover,
  &:focus {
    color: $white;
   }
}

.btn-outline-light {
  padding: rem(16) rem(30);

  &:focus,
  &:hover {
    border-color: $white;
    background-color: $white;
    color: $dark-grey;
  }
}

.btn-sm {
  color: $white;
  padding: rem(11) rem(30);
}

.btn-alt, .btn-secondary, .btn-light {
   display: inline-block;
border-radius: 0;
    font-size: rem(18);
  line-height: rem(24);
  padding: rem(16) rem(25) rem(15) rem(56);
  white-space: nowrap;
  font-weight:700;
  color: $primary;
  background-color:$white;
  @include transition(all 0.3s linear);
  text-decoration: none;
  position: relative;
  border:0;
 &::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $lighter-gray;
  background-image: url("../img/arrow (2).svg");
  background-repeat: no-repeat;
  background-position: center;
 }
   &:hover,
   &:focus {
    color: $black;
    background-color:$light-gray;
    text-decoration: none;
   &::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $lighter-gray;
  background-image: url("../img/arrow (1).svg");
  background-repeat: no-repeat;
  background-position: center;
  }
   
  }
}

.btn-alt2 {
  display: inline-block;
  padding: rem(10) rem(30);
  border: 2px solid $blue;
  background-color: transparent;
  color: $blue;
  border-radius: 0;
  &:focus,
  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}

.btn-on-color {
  font-size: rem(18);
  line-height: rem(24);
  padding: rem(16) rem(20) rem(15) rem(57);
  white-space: nowrap;
  font-weight:700;
  border-radius: 0;
  @include transition(all 0.3s linear);
  color: $white;
  background-color:$primary;
  border:0;
     &::before {
 content:"";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $secondary;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
  &:hover {
    color: $white;
    background-color:$secondary;
    &::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $secondary;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
   }
}

.btn-alt-on-color {
   font-size: rem(18);
  line-height: rem(24);
  padding: rem(16) rem(20) rem(15) rem(57);
  white-space: nowrap;
  font-weight:700;
  color: $primary;
  border:0;
  background-color:$white;
  @include transition(all 0.3s linear);
  text-decoration: none;
     &::before {
 content:"";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $secondary;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
   &:hover {
    color: $black;
    background-color:$light-gray;
    &::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $secondary;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
   }
}

.btn-wrap {
  margin-bottom: rem(25);
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(center);
  > button,
  > a {
    margin: 0 rem(10) rem(20) 0;
  }
}

.btn-bg {
  width: rem(330);
  /*height: rem(88);*/
  max-width: 100%;
  background-color: $dark-grey;
  padding: rem(12) 0;
  display: inline-block;
  text-align: center;
  margin-bottom: rem(25);
  vertical-align: top;
  border-radius: 0;
  .btn{
    margin:rem(5) !important;
  }
  &.red-btn-bg {
    background-color: $dark-grey;
  }
  &:nth-of-type(2) {
    padding-top: rem(19);
  }
  @include media-breakpoint-up(lg) {
    margin: 0 rem(15) rem(20) 0;
  }
}


.btn-primary {
 font-size: rem(18);
  line-height: rem(24);
  padding: rem(16) rem(20) rem(15) rem(57);
  white-space: nowrap;
  font-weight:700;
  position: relative;
  text-decoration: none;
  @include transition(all 0.3s linear);
  color: $white;
  border-radius: 0;
  background-color:$primary;
  display: inline-block;
   &::before {
 content:"";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $secondary;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
    &:hover,
  &:focus {
    color: $white;
    background-color:$secondary;
    text-decoration: none;
   &::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-color: $secondary;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
   }
}

.btn-success, .btn-danger,.btn-warning,.btn-info,.btn-dark,.btn-link {
  &::before {
 content:"";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
   &:hover,
  &:focus {
    &::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: rem(43);
  border-top-right-radius: rem(200);
  border-bottom-right-radius: rem(200);
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  }
  }
}
.btn-success {
     &::before {
       background-color: #51852f;
     }
      &:hover,
  &:focus {
    &::before {
      background-color: #51852f;
    }
  }
}
.btn-danger {
     &::before {
      background-color: #c82333;
     }
      &:hover,
  &:focus {
    &::before {
      background-color: #c82333;
    }
  }
}
.btn-warning {
 &::before {
background-color: #e0a800;
     }
      &:hover,
  &:focus {
    &::before {
      background-color: #e0a800;
    }
  }
}
.btn-info {
 &::before {
background-color: #138496;
     }
      &:hover,
  &:focus {
    &::before {
     background-color: #138496; 
    }
  }
}
.btn-dark {
 &::before {
background-color: #23272b;
     }
      &:hover,
  &:focus {
    &::before {
      background-color: #23272b;
    }
  }
}
